export(aggregate_drug_scores)
export(available_builtin_references)
export(build_program_geometry)
export(check_lincs_files)
export(download_lincs)
export(download_references)
export(example_mm_files)
export(fit_disease_signature)
export(lincs_manifest)
export(load_program_basis)
export(load_builtin_basis)
export(load_builtin_reference)
export(prepare_disease_from_series)
export(project_disease_signature)
export(project_lincs_gctx)
export(project_lincs_matrix)
export(proret_reference_manifest)
export(rank_drugs)
export(read_geo_series)
export(run_proret)
export(run_mm_example)
export(score_reversal)
export(validate_program_basis)
S3method(print,proret_basis)
S3method(print,proret_disease)
S3method(print,proret_drug_programs)
S3method(print,proret_result)
import(data.table)
importFrom(methods,is)
importFrom(stats,as.formula,cor,median,model.matrix,sd,setNames)
importFrom(tools,R_user_dir)
importFrom(utils,download.file,head,read.delim,write.table)
